{% load static %} 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>My App</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
  </head>

  <body>
    <div class="page-cover bg-3 text-dark">
      <h1 class="page-title text-1">Text Mining App</h1>
      <div style="height: 20px"></div>

      <div class="app-bar">
        <div class="app-bar-title">MENU</div>
        <div class="app-bar-button-cover">
          <button onclick="scroller('#s1')">概要</button>
          <button onclick="scroller('#s2')">仕様</button>
        </div>
      </div>
      <div style="height: 20px"></div>

      <div class="card-cover bg-white" id="s1">
        <h2 class="card-title-cover bg-2 text-light">
          <div class="card-title">　概要　</div>
          <div style="height: 2px" class="bg-darken"></div>
        </h2>
        <div class="card-contents">
            指定された形式で文書データを出力します。<br><br>
            ログイン成功時に Text Mining App が操作できるようになります。<br><br>
            {% if error_message %}
            <div>{{ error_message }}</div>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div>
                    <label for="username">ユーザー名:</label>
                    <input type="text" name="username" id="username">
                </div>
                <div>
                    <label for="password">パスワード:</label>
                    <input type="password" name="password" id="password">
                </div>
                <br><br>
                <input type="submit" value="ログイン">
            </form>
            <br><br>
            ※欠損値なしと欠損値ありの<font color="red">両方を有効にした場合は欠損値なしで出力</font>します。<br><br>
        </div>
      </div>
      <div style="height: 20px"></div>

      <div class="card-cover bg-white" id="s2">
        <h2 class="card-title-cover bg-2 text-light">
          <div class="card-title">アプリの仕様説明</div>
          <div style="height: 2px" class="bg-darken"></div>
        </h2>
        <div class="card-contents">
          <h3><font color="red">整形形式</font></h3>
          「分かち書きのみ」の場合は何も整形しません。<br><br>
          「分かち書き+整形」の場合は以下の処理をして出力します。<br>
          <ul>
            <li>数字を0に置き換える</li><br>
            <li>記号を削除する</li><br>
            <li>カンマを削除する</li><br>
            <li>タブを削除する</li><br>
            <li>英単語は全て小文字にする</li><br>
          </ul>

          <h3><font color="red">出力形式</font></h3>
          以下のフォーマットから選択して出力します。<br>
          <ul>
            <li>txt (Text Documents)</li><br>
            <li>csv (Comma Separated Values )</li><br>
            <li>tsv (Tab Separated Values )</li><br>
          </ul>

          <h3><font color="red">ファイル名を出力</font></h3>
          「Yes」の場合はファイル名を出力します。<br><br>
          逆にファイル名は出力したくない場合もあったりするので、その場合は「No」を選択します。<br><br>

          <h3><font color="red">正解ラベルを出力(欠損値なし)</font></h3>
          「Yes」の場合は正解ラベルを出力します。<br><br>
          「欠損値なし」にしているため全ての正解ラベルが出力されます。<br><br>

          <h3><font color="red">正解ラベルを出力(欠損値あり)</font></h3>
          「Yes」の場合は正解ラベルを出力します。<br><br>
          「欠損値あり」にしているため一部の正解ラベルが出力されません。<br><br>
          例えば、選択肢で10%を選択した場合は全データの10%がラベルなしデータとして出力されます。<br><br>
          一部の正解ラベルを隠して学習する半教師あり学習で使用します。<br><br>

          <h3><font color="red">文章を出力</font></h3>
          「Yes」の場合は文章を出力します。<br><br>
          文章を出力したくない場合はあまりないと思いますが、一応選択肢にしています。<br><br>

          <h3><font color="red">指定されたデータのみ出力</font></h3>
          特定のデータだけ出力する場合はファイル名をtxtファイルに記述してアップロードします。<br><br>
          以下のように、1行毎に区切ってファイル名を入力<br><br>
          dokujo-tsushin-4782522.txt<br>
          dokujo-tsushin-4788373.txt<br>
          dokujo-tsushin-4791665.txt<br><br>
          データベースに存在しないファイル名はスルーします。<br><br>
          txt, csv 以外のファイルをアップロードした場合はエラーメッセージを表示します。
        </div>
      </div>
      <div style="height: 40px"></div>

      <footer class="footer-cover bg-2 text-light">
        <div style="height: 4px" class="bg-darken"></div>
        <div class="card-contents">&copy; My web page.</div>
      </footer>
    </div>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
      var TOP_BAR_OFFSET = 48;
      function scroller(query) {
        var elements = document.querySelectorAll(query);
        if (elements.length == 0) {
          console.error(
            "Selected query:",
            query,
            "are not found on this page."
          );
          return;
        }
        var rect = elements[0].getBoundingClientRect();
        window.scrollTo({
          top: rect.top + window.pageYOffset - TOP_BAR_OFFSET,
          behavior: "smooth",
        });
      }

      var swiper = new Swiper(".swiper-area", {
        direction: "horizontal",
        spaceBetween: 30,
        autoplay: { delay: 10 * 1000, disableOnInteraction: false },
        loop: true,
        pagination: { el: ".swiper-pagination" },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  </body>
</html>
